<nav class="navbar navbar-default">
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header navbar-brand ">
         <a href="{{url_for('homePage')}}" class="navbarText">Catalog</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="nav navbar-nav navbar-right navbar-brand">
         {% if 'username' in login_session: %}
         <img class="userPic" style ="display: inline-block;" src="{{login_session['picture']}}">
         <span class="navbarText">{{login_session['email']}}</span>
         <a class="navbarText" href="{{url_for('logout')}}">  Logout</a>
         {% else %}
         <span class="glyphicon glyphicon-home g-signin navbarText" aria-hidden="true"
            data-scope="openid email"
            data-clientid="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">Login</span>  
         {% endif %}
      </div>
   </div>
   <!-- /.container-fluid -->
</nav>
<div id="result"></div>
<script>
   function signInCallback(authResult) {
     if (authResult['code']) {
   
       // Hide the sign-in button now that the user is authorized
       $('#signinButton').attr('style', 'display: none');
   
       // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
       $.ajax({
         type: 'POST',
         url: '/gconnect?state={{STATE}}',
         processData: false,
         data: authResult['code'],
         contentType: 'application/octet-stream; charset=utf-8',
         success: function(result) {
           // Handle or verify the server response if necessary.
           if (result) {
             $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
             window.location.href = "/";
            }, 4000);
             
   
         } else if (authResult['error']) {
   
       console.log('There was an error: ' + authResult['error']);
     } else {
           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
   
         }
         
     }); } }
</script>